<%- include('../partials/header') %>
<div class="container-fluid">
  <div class="card mt-5 mb-4">
    <div class="card-header text-center p-3"><h3>A League Standings</h3></div>
    <div class="card-body">
      <table class="table table-striped text-center">
        <thead>
          <tr>
            <th>Place</th>
            <th>Points</th>
            <th>Record</th>
            <th>Team Name</th>
            <th>Leg Won %</th>
            <th>01 Game Avg</th>
            <th>Cricket Avg</th>
          </tr>
        </thead>
        <tbody>
          <% standings.forEach((team) => { %>
          <tr>
            <td><%= team.place %></td>
            <td><%= team.points %></td>
            <td>
              <%= team.matchesWon %> - <%= team.matchesPlayed - team.matchesWon
              %>
            </td>
            <td><%= team.teamName %></td>
            <td><%= team.legWonPct %></td>
            <td><%= team.zeroOneAvg %></td>
            <td><%= team.cricketAvg %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%- include('../partials/footer') %>
